<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>八角眼鏡-<%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <nav class="d_flex justify_sb">
        <h1 class="logo"><a href="index.html">八角眼鏡</a></h1>

        <ul class="menu">
          <li><a href="#">系列鏡框</a></li>
          <li><a href="location.html">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="faq.html">常見問題</a></li>
        </ul>
      </nav>

      <%- contents %>

      <footer>
        <div class="container">
          <div class="footer_flex">
            <div class="footer_link">
              <ul class="footer_menu">
                <li><a href="index.html">首頁</a></li>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="location.html">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="faq.html">常見問題</a></li>
              </ul>
              <ul class="findus">
                <li>
                  <div class="footer_icon">
                    <img src="./assets/images/icon-phone.svg" alt="phone" />
                  </div>
                  <a href="tel:+886-800000000">0800-000-000</a>
                </li>
                <li>
                  <div class="footer_icon">
                    <img src="./assets/images/icon-mail.svg" alt="mail" />
                  </div>
                  <a href="mailto:glasses@business.com">glasses@business.com</a>
                </li>
              </ul>
            </div>
            <ul class="social">
              <li>
                <a href="#"
                  ><img src="./assets/images/icon-fb.svg" alt="FB"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="./assets/images/icon-ig.svg" alt="IG"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="./assets/images/icon-line.svg" alt="LINE"
                /></a>
              </li>
            </ul>
          </div>

          <div class="Copyright">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="privicy">
              <li><a href="#">隱私權政策</a></li>
              <li><a href="#">服務條款</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <script src="./assets/js/vendors.js"></script>
      <script src="./assets/js/all.js"></script>
    </main>
  </body>
</html>
