footer {
  background: $primary-color;
  padding-top: 32px;
  padding-bottom: 39px;
  @include phone {
    padding-top: 24px;
  }
}

.footer_menu {
  display: flex;
  margin-top: 12px;
  margin-bottom: 36px;
  @include pad {
    margin-top: 6px;
  }
  @include phone {
    display: none;
  }
  li {
    margin-right: 48px;
    font-size: $fz-base;
    line-height: 1.5;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    @include pad {
      margin-right: 40px;
    }
  }
}

.footer_menu li a {
  padding: 4px;
  &:hover {
    background: $secondary;
  }
}

.footer_flex {
  display: flex;
  justify-content: space-between;
}

.footer_icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include pad {
    margin-right: 8px;
  }
}

.social {
  display: flex;
  li {
    margin-left: 32px;
    @include pad {
      margin-left: 24px;
    }
  }
}

.findus {
  margin-bottom: 24px;
  @include pad {
    margin-bottom: 20px;
  }
  @include phone{
    margin-bottom: 24px;
  }
  li {
    display: flex;
    font-size: $fz_l;
    line-height: 1.5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    @include pad {
      font-size: $fz-m;
      line-height: 1.5;
    }
    @include phone {
      font-size: $fz-base;
      line-height: 1.875;
    }
    &:first-child {
      margin-bottom: 16px;
      @include pad {
        margin-bottom: 12px;
      }
    }
    a:hover {
      color: $secondary;
    }
  }
}

.Copyright {
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-top: 1px solid #fff;
  padding-top: 32px;
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: $fz_base;
    line-height: 1.5;
  }
  @include pad {
    padding-top: 24px;
  }
  @include phone {
    padding-top: 16px;
    font-size: $fz-sm;
    line-height: 1.5;
    flex-direction: column;
  }
}

.privicy {
  display: flex;
  justify-content: flex-end;
  li {
    margin-left: 48px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: $fz-sm;
    line-height: 1.5;
    a:hover {
      color: $secondary;
    }
    @include phone {
      margin-left: 0;
      margin-top: 8px;
    }
  }
  @include phone {
    flex-direction: column;
  }
}

.social img,
.footer_icon {
  @include pad {
    width: 24px;
    height: 24px;
  }
}


