//flex
.d_flex{
    display: flex;
}
.flex{
    &_column{
        flex-direction: column;
    }
}

.justify{
    &_sb{
        justify-content: space-between;
    }
    &_c{
        justify-content: center;
    }
}
