//color
$light-bgcolor:#AA06010D;
$primary-color:#AA0601;
$link-color:#fff;
$secondary:#650300;
$rec-card-p:#212529;
$rec-date:#707070;
$rec-card-bor:#DEE2E6;
$rec-box-shadow:#00000029;
$contact-text:#000;
$contact-btn:#fff;
$location-title:#000;
$location-border:#9F1213;

//font-size
$fz-base:16px;

$fz-sm:$fz-base * 0.875;  //14
$fz-sm2:$fz-base * 1.125;  //18
$fz-sm3:$fz-base * 1.1875;  //19
$fz-m:$fz-base * 1.25;  //20
$fz-xm:$fz-base * 1.5;  //24
$fz-3xm:$fz-base * 1.75;  //28
$fz-2xm:$fz-base * 2;  //32
$fz-l:$fz-base * 2.25;  //36
$fz-2l:$fz-base * 3;  //48
$fz-xl:$fz-base *4 ; //64
$fz-2xl:$fz-base * 4.5;  //72